$background: #444;
$text: #fff;
$success: #444;
$successs: #597526;
$warning: #e98000;
$failure: #dc5945;
$error: #ec663c;
$unknown: #b5b5b5;

.widget-nagiosxi {
  li {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 25px;

    i {
      font-size: 90px
    }

    h3 {
      font-size: 60px;
      font-weight: bold;
    }
  
    h4 {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }

    p &.updated-at {
      font-size: 10px;
    }
  
    &.green {
      background-color: $success;

    }

    &.yellow {
      background-color: $warning;

    }

    &.red {
      background-color: $failure;

    }

    &.grey {
      background-color: $unknown;
    }

    &.error {
      background-color: $error;
    }
  }
}
