<% content_for :title do %>Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="nagiosxi" data-view="Nagiosxi" data-title="Infrastructure"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
      <div data-id="messages" data-view="Messages" data-title="Messages"></div>
    </li>

  </ul>
</div>
