<% content_for :title do %>Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nagiosxihosts" data-view="Nagiosxihosts" data-title="Nagios Hosts"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nagiosxiservices" data-view="Nagiosxiservices" data-title="Nagios Services"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
      <div data-id="messages" data-view="Messages" data-title="Messages"></div>
    </li>

  </ul>
</div>
